
	<div class="background-corousel">
	<h2 class="corousel-title">
		Даже всемогущая пунктуация не имеет власти над текстами
	</h2>
     
     <div class="b-carousel"> <!-- контейнер, в котором будет карусель -->
	
		<div class="b-carousel-button-left"></div> <!-- левая кнопка -->
		<div class="b-carousel-button-right"></div> <!-- правая кнопка -->
		
		<div class="h-carousel-wrapper"> <!-- видимая область карусели -->
			<div class="h-carousel-items"> <!-- весь набор элементов карусели -->
			
				<div class="b-carousel-block"> <!-- первый элемент карусели -->
					<div  class="a-carousel-image-link">
						 <img src="img/carousel.png" alt="" /> 
						<div class="hover-block"><p>Даже всемогущая пунктуация не имеет власти над текстами</p>
							<button class="hover-block-btn">Кнопка</button></div>
					
					</div>
				</div>
				
				<div class="b-carousel-block">
					<div class="a-carousel-image-link">
						<img src="img/carousel.png" alt="" />
						<div class="hover-block"><p>Даже всемогущая пунктуация не имеет власти над текстами</p>
							<button class="hover-block-btn">Кнопка</button></div>
					</div>
				</div>
				
				<div class="b-carousel-block">
					<div class="a-carousel-image-link">
						<img src="img/carousel.png" alt="" />
						<div class="hover-block"><p>Даже всемогущая пунктуация не имеет власти над текстами</p>
							<button class="hover-block-btn">Кнопка</button></div>
					</div>
				</div>
				
				<div class="b-carousel-block">
					<div class="a-carousel-image-link">
						<img src="img/carousel.png" alt="" />
						<div class="hover-block"><p>Даже всемогущая пунктуация не имеет власти над текстами</p>
							<button class="hover-block-btn">Кнопка</button></div>
					</div>
				</div>
				
				<div class="b-carousel-block"> <!-- последний элемент карусели -->
					<div class="a-carousel-image-link">
						<img src="img/carousel.png" alt="" />
						<div class="hover-block"><p>Даже всемогущая пунктуация не имеет власти над текстами</p>
							<button class="hover-block-btn">Кнопка</button></div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>

	</div>




