<div class="content-wraper">
<main class="main-block">
	<h1 class="main-title">Заголовок</h1>
    
    <article class="content-block">
    	<secttion class="content-block-photo"><div class="photo-wraper"><img src="img/photo.png" alt="" ></div></secttion>
    	
    	<section class="content-block-text">
    		<h4 class="text-title">Далеко-далеко за словесными горами.</h4>
    		<p class="content-block-text-paragraph">В стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу <b><i>cемантика</i></b> большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.</p>

    		<h4 class="text-title">Далеко-далеко за словесными горами.</h4>
            
    	<ul class="content-block-text-list">
    		<li>Безорфографический <b>образ <i>жизни</i></b></li>
    		<li>Безорфографический <b>образ <i>жизни</i></b></li>
    		<li>Безорфографический <b>образ <i>жизни</i></b></li>
    		<li>Безорфографический <b>образ <i>жизни</i></b></li>
    	</ul>

    	<ul class="content-block-text-soc-btn">
    		<li>
    			<a href="" class="soc-btn-1"></a>
    		</li>
    		<li>
    			<a href="" class="soc-btn-2"></a>
    		</li>
    		<li>
    			<a href="" class="soc-btn-3"></a>
    		</li>
    		<li>
    			<a href="" class="soc-btn-4"></a>
    		</li>
    		<li>
    			<a href="" class="soc-btn-5"></a>
    		</li>
    		<li>
    			<a href="" class="soc-btn-6"></a>
    		</li>
    	</ul>

    	</section>
    
    <aside class="main-form">
    	<form action="echo" class="main-form-form">
    	<div class="form-content-wraper">
    		<h3 class="main-form-title">Форма</h3>
    		<input type="text" placeholder="Введите текст">
    		<div class="select-box-1">
    		<div class="arrow1" id="list1"></div>
    		<select class="input-list1" id="lst1"> 
     <option id='opt1'>Выберете элемент из списка</option>
     <option>элемент 1</option>
     <option>элемент 2</option>
     <option>элемент 3</option>
</select></div>
             		<div class="select-box-2">
    		<div class="arrow1" id="list2"></div>
    		<select class="input-list2"> 
     <option>Выберете элемент из списка</option>
     <option>элемент 1</option>
     <option>элемент 2</option>
     <option>элемент 3</option>
 </select></div>


           
            <label for="check-box" class="check"><div class="checkbox"><div class="inner-checkbox"></div></div>Я согласен </label>
           <input type="checkbox" id="check-box"> 

           <button class="btn-form">кнопка</button>
           </div>
    	</form>
    </aside>
    </article>
</main>
</div>

