<div class="popup-wrap">
<div class="popup-background" id="popup-bgr">
<div class="popup">
	
	<div class="popup-wnd">
		<h3 class="popup-title">Далеко-далеко за словесными горами</h3>
		<p class="popup-text">
			В стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу <b><i>семантика</i></b> большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
		</p>
		<div class="popup-close" id="popup-cls"></div>
	</div>
	</div>
</div>
</div>

<!-- <div class="pop"></div> -->