@import (reference) "adonweb.less";
/*текст в хеадере*/
@font: 'Roboto light'; 
@f-size: 26px; 
@f-height: 36px; 
@f-weight: normal; 
@f-color: black;


@name_ul: ul;

//параметры кноаки
@pad_top_btn: 5px;
@radius_btn: 10px;//нижнее

@up_clr_btn: #7e6bba;//верхнее значение градиента
@dwn_clr_btn: #15054a;//нижнее
@color_btn: #7e6bba;//статика
@text_clr: #beb6d4;//цвет текста

@width_btn: 250px;

@mode: to bottom; // to bottom to top static

//параметры сеток
@content-width: 1200px;
@max-column: 12;

@column: 3;

.stitches-btn-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.btn-sprite {
    background-image: url(../img/spritesheet.png);   
     background-repeat: no-repeat;
    display: block;

    &.btn-sprite-fcb {
        .stitches-btn-sprite(-5px, -5px, 38px, 38px);
    }

    &.btn-sprite-g {
        .stitches-btn-sprite(-5px, -53px, 38px, 38px);
    }

    &.btn-sprite-odn {
        .stitches-btn-sprite(-5px, -101px, 38px, 38px);
    }

    &.btn-sprite-rss {
        .stitches-btn-sprite(-5px, -149px, 38px, 38px);
    }

    &.btn-sprite-tw {
        .stitches-btn-sprite(-5px, -197px, 38px, 38px);
    }

    &.btn-sprite-vk {
        .stitches-btn-sprite(-5px, -245px, 38px, 38px);
    }
}

.stitches-btn-sprite-tablet(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.btn-sprite-tablet {
    background-image: url(../img/tablet.png);    background-repeat: no-repeat;
    display: block;

    &.btn-sprite-tablet-fc-tablet {
        .stitches-btn-sprite-tablet(-5px, -5px, 66px, 66px);
    }

    &.btn-sprite-tablet-g-tablet {
        .stitches-btn-sprite-tablet(-5px, -81px, 66px, 66px);
    }

    &.btn-sprite-tablet-odn-tablet {
        .stitches-btn-sprite-tablet(-5px, -157px, 66px, 66px);
    }

    &.btn-sprite-tablet-rss-tablet {
        .stitches-btn-sprite-tablet(-5px, -233px, 66px, 66px);
    }

    &.btn-sprite-tablet-tw-tablet {
        .stitches-btn-sprite-tablet(-5px, -309px, 66px, 66px);
    }

    &.btn-sprite-tablet-vk-tablet {
        .stitches-btn-sprite-tablet(-5px, -385px, 66px, 66px);
    }
}


.stitches-sprite-phone(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.sprite-phone {
    background-image: url(../img/phone.png);    background-repeat: no-repeat;
    display: block;

    &.sprite-phone-fc-phone {
        .stitches-sprite-phone(-5px, -5px, 28px, 28px);
    }

    &.sprite-phone-g-phone {
        .stitches-sprite-phone(-5px, -43px, 28px, 28px);
    }

    &.sprite-phone-odn-phone {
        .stitches-sprite-phone(-5px, -81px, 28px, 28px);
    }

    &.sprite-phone-rss-phone {
        .stitches-sprite-phone(-5px, -119px, 28px, 28px);
    }

    &.sprite-phone-tw-phone {
        .stitches-sprite-phone(-5px, -157px, 28px, 28px);
    }

    &.sprite-phone-vk-phone {
        .stitches-sprite-phone(-5px, -195px, 28px, 28px);
    }
}
