/*текст в хеадере*/

.btn-sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}

.btn-sprite.btn-sprite-fcb {
  background-position: -5px -5px;
  width: 38px;
  height: 38px;
}

.btn-sprite.btn-sprite-g {
  background-position: -5px -53px;
  width: 38px;
  height: 38px;
}

.btn-sprite.btn-sprite-odn {
  background-position: -5px -101px;
  width: 38px;
  height: 38px;
}

.btn-sprite.btn-sprite-rss {
  background-position: -5px -149px;
  width: 38px;
  height: 38px;
}

.btn-sprite.btn-sprite-tw {
  background-position: -5px -197px;
  width: 38px;
  height: 38px;
}

.btn-sprite.btn-sprite-vk {
  background-position: -5px -245px;
  width: 38px;
  height: 38px;
}

.btn-sprite-tablet {
  background-image: url("../img/tablet.png");
  background-repeat: no-repeat;
  display: block;
}

.btn-sprite-tablet.btn-sprite-tablet-fc-tablet {
  background-position: -5px -5px;
  width: 66px;
  height: 66px;
}

.btn-sprite-tablet.btn-sprite-tablet-g-tablet {
  background-position: -5px -81px;
  width: 66px;
  height: 66px;
}

.btn-sprite-tablet.btn-sprite-tablet-odn-tablet {
  background-position: -5px -157px;
  width: 66px;
  height: 66px;
}

.btn-sprite-tablet.btn-sprite-tablet-rss-tablet {
  background-position: -5px -233px;
  width: 66px;
  height: 66px;
}

.btn-sprite-tablet.btn-sprite-tablet-tw-tablet {
  background-position: -5px -309px;
  width: 66px;
  height: 66px;
}

.btn-sprite-tablet.btn-sprite-tablet-vk-tablet {
  background-position: -5px -385px;
  width: 66px;
  height: 66px;
}

.sprite-phone {
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-phone.sprite-phone-fc-phone {
  background-position: -5px -5px;
  width: 28px;
  height: 28px;
}

.sprite-phone.sprite-phone-g-phone {
  background-position: -5px -43px;
  width: 28px;
  height: 28px;
}

.sprite-phone.sprite-phone-odn-phone {
  background-position: -5px -81px;
  width: 28px;
  height: 28px;
}

.sprite-phone.sprite-phone-rss-phone {
  background-position: -5px -119px;
  width: 28px;
  height: 28px;
}

.sprite-phone.sprite-phone-tw-phone {
  background-position: -5px -157px;
  width: 28px;
  height: 28px;
}

.sprite-phone.sprite-phone-vk-phone {
  background-position: -5px -195px;
  width: 28px;
  height: 28px;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
.page-wraper {
  font-family: 'Roboto light', sans-serif;
  font-size: 26px;
  line-height: 36px;
  font-weight: normal;
  color: black;
  height: 100%;
}

.content-wraper {
  width: 960px;
  margin: 0 auto;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-wraper {
    width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .content-wraper {
    width: 320px;
  }
}

.page-wraper {
  min-height: 920px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .page-wraper {
    min-height: 3000px;
  }
}

@media screen and (max-width: 320px) {
  .page-wraper {
    min-height: 1355px;
  }
}

.page-buffer {
  height: 70px;
}
.corousel-title {
  font-family: 'Exo 2', sans-serif;
  font-size: 26px;
  line-height: 0px;
  font-weight: bold;
  color: #f86031;
  text-align: center;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .corousel-title {
    font-size: 42px;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .corousel-title {
    font-size: 17px;
    line-height: 20px;
    padding-top: 0;
    margin-top: 0;
  }
}

.background-corousel {
  background: #f1f1f1;
  padding-bottom: 20px;
  min-width: 1000px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .background-corousel {
    background: url("../img/corousel-bg-tablet.png");
    height: 470px;
    min-width: 768px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .background-corousel {
    background: url("../img/corousel-bg-phone.png");
    height: 270px;
    min-width: 320px;
    padding-top: 20px;
    margin-top: -50px;
  }
}

.b-carousel {
  width: 1000px;
  /* ширина всего блока */
  margin: 30px auto;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .b-carousel {
    width: 680px;
  }
}

@media screen and (max-width: 320px) {
  .b-carousel {
    width: 320px;
    margin: 0;
  }
}

.h-carousel-wrapper {
  width: 940px;
  /* ширина области карусели */
  position: relative;
  overflow: hidden;
  /* скрываем содержимое, выходящее за рамки основной области */
  margin: 0 auto;
  /* выравниваем по центру относительно родительского блока */
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .h-carousel-wrapper {
    width: 623px;
  }
}

@media screen and (max-width: 320px) {
  .h-carousel-wrapper {
    width: 280px;
    bottom: 15px;
  }
}

.h-carousel-items {
  width: 10000px;
  /* устанавливаем большую ширину для набора элементов карусели, чтобы в неё всё поместилось */
  position: relative;
  /* позиционируем блок относительно основной области карусели */
}

.b-carousel-block {
  float: left;
  /* выстраиваем все элементы карусели в ряд */
  width: 300px;
  /* задаём ширину каждого элемента */
  padding: 15px 0px;
  /* делаем оступы, чтобы элементы не сливались */
  margin-left: 20px;
}

@media screen and (max-width: 320px) {
  .b-carousel-block {
    width: 260px;
  }
}

.b-carousel-block:first-child {
  margin-left: 0;
}

@media screen and (max-width: 320px) {
  .b-carousel-block {
    margin-left: 20px;
  }
}

.a-carousel-image-link {
  /* тут чисто оформление содержимого */
  display: block;
  width: 300px;
  height: 192px;
  overflow: hidden;
  border: 2px solid #fff;
}

@media screen and (max-width: 320px) {
  .a-carousel-image-link {
    width: 260px;
    margin-left: 8px;
    height: 170px;
  }
}

.a-carousel-image-link img {
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  .a-carousel-image-link img {
    width: 260px;
  }
}

.b-carousel-button-left,
.b-carousel-button-right {
  width: 18px;
  /* задаем ширину кнопок */
  height: 30px;
  /* задаем высоту кнопок */
  position: relative;
  top: 100px;
  /* позиционируем кнопки */
  margin: 0;
  padding: 0;
  cursor: pointer;
  /* делаем кнопкам курсор в виде "пальца" */
}

@media screen and (max-width: 320px) {
  .b-carousel-button-left,
  .b-carousel-button-right {
    width: 10px;
    height: 15px;
  }
}

.b-carousel-button-left {
  float: left;
  /* выравниваем левую кнопку по левому краю */
  background: url("../img/carousel-left.png") no-repeat;
  /* картинка с левой кнопкой */
}

@media screen and (max-width: 320px) {
  .b-carousel-button-left {
    background: url("../img/carousel-left-phone.png") no-repeat;
    left: 8px;
  }
}

.b-carousel-button-right {
  float: right;
  /* выравниваем правую кнопку по правому краю */
  background: url("../img/carousel-right.png") no-repeat;
  /* картинка с правой кнопкой */
}

@media screen and (max-width: 320px) {
  .b-carousel-button-right {
    background: url("../img/carousel-right-phone.png") no-repeat;
    right: 8px;
  }
}

.hover-block {
  background: black;
  margin-left: 37px;
  margin-top: 30px;
  position: absolute;
  opacity: 0.7;
  z-index: 2;
  width: 230px;
  height: 130px;
  text-align: center;
  padding: 17px;
  display: none;
  font-family: 'Roboto light', sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  color: white;
}

@media screen and (max-width: 320px) {
  .hover-block {
    width: 200px;
    height: 115px;
    margin-left: 30px;
    margin-top: 25px;
    padding: 17px;
  }
}

.hover-block:after {
  content: '';
  display: block;
  background: url("../img/carousel-hover-pict.png") no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 100px;
}

@media screen and (max-width: 320px) {
  .hover-block:after {
    left: 90px;
    top: 5px;
  }
}

@media screen and (max-width: 320px) {
  .hover-block {
    font-size: 12px;
  }
}

.hover-block .hover-block-btn {
  background: black;
  outline: none;
  border: 1px solid white;
  border-radius: 3px;
  width: 150px;
}

@media screen and (max-width: 320px) {
  .hover-block .hover-block-btn {
    font-size: 12px;
  }
}

.hover-block .hover-block-btn:hover {
  background: white;
  color: black;
}

footer {
  background: #ff9915;
  min-width: 1000px;
  height: 50px;
  text-align: center;
  margin-top: -50px;
  background-image: -webkit-linear-gradient(bottom, #ff9b0d 0%, #ff923a 100%);
  background-image: linear-gradient(bottom, #ff9b0d 0%, #ff923a 100%);
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  footer {
    margin: 0 auto;
    min-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  footer {
    margin: 0 auto;
    min-width: 320px;
  }
}

footer p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto light', sans-serif;
  font-size: 14px;
  line-height: 45px;
  font-weight: normal;
  color: white;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  footer p {
    font-size: 26px;
  }
}

@media screen and (max-width: 320px) {
  footer p {
    font-size: 10px;
  }
}

footer p a {
  color: white;
}

footer p a:hover {
  color: #f86031;
}

header {
  background: url("../img/header-bg.png") center;
  height: 115px;
  min-width: 1000px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  header {
    min-width: 768px;
    height: 372px;
    background: url("../img/header-bg-tablet.png") center;
    padding-top: 40px;
    overflow: hidden;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  header {
    min-width: 320px;
    height: 152px;
    background: url("../img/header-bg-tablet-phone.png") center;
    padding-top: 10px;
    overflow: hidden;
    text-align: center;
  }
}

header .logo {
  margin-left: 10px;
  display: inline-block;
  padding-top: 30px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  header .logo {
    margin: 0 auto;
    width: 200px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 320px) {
  header .logo {
    margin: 0 auto;
    width: 65px;
    padding: 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .logo a img {
    width: 160px;
    height: 62px;
  }
}

@media screen and (max-width: 320px) {
  .logo a img {
    width: 65px;
    height: 25px;
  }
}

.header-menu {
  display: inline-block;
  margin-left: 140px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .header-menu {
    display: block;
    margin-left: 110px;
  }
}

@media screen and (max-width: 320px) {
  .header-menu {
    display: block;
    margin-left: 0px;
  }
}

.main-menu {
  list-style: none;
  min-width: 675px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .main-menu {
    margin-left: 0px;
  }
}

@media screen and (max-width: 320px) {
  .main-menu {
    margin-left: 50px;
    margin-top: 0;
  }
}

.main-menu li {
  display: inline-block;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .main-menu li {
    display: block;
  }

  .main-menu li:nth-child(5),
  .main-menu li:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .main-menu li {
    display: block;
  }

  .main-menu li:nth-child(5),
  .main-menu li:nth-child(6) {
    display: none;
  }
}

.main-menu li:first-child {
  margin-left: 0;
}

.main-menu li a {
  text-decoration: none;
  font-family: 'Roboto light', sans-serif;
  font-size: 14px;
  line-height: 35px;
  font-weight: normal;
  color: white;
  display: block;
  width: 100px;
  text-align: center;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .main-menu li a {
    font-size: 20px;
    width: 470px;
  }
}

@media screen and (max-width: 320px) {
  .main-menu li a {
    font-size: 9px;
    width: 140px;
    height: 20px;
  }
}

.main-menu li a:hover {
  color: #fa8a69;
  background: white;
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block {
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .content-block {
    margin: 0 auto;
  }
}

.main-title {
  font-family: 'Exo 2', sans-serif;
  font-size: 24px;
  line-height: 35px;
  font-weight: bold;
  color: #f86031;
  text-align: center;
  position: relative;
  background: white;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .main-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 320px) {
  .main-title {
    font-size: 20px;
  }
}

.main-title:before,
.main-title:after {
  content: '';
  display: block;
  width: 400px;
  height: 1px;
  background: #f86031;
  position: absolute;
  top: 20px;
  z-index: 1;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .main-title:before,
  .main-title:after {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .main-title:before,
  .main-title:after {
    display: none;
  }
}

.main-title:after {
  left: 560px;
}

.content-block-photo {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-photo {
    display: block;
    width: 622px;
    height: 620px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 320px) {
  .content-block-photo {
    display: block;
    width: 260px;
    height: 260px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.photo-wraper {
  outline: 1px solid #efe7e5;
  height: 300px;
  width: 310px;
  position: relative;
}

.photo-wraper img {
  width: 310px;
  height: 300px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .photo-wraper img {
    width: 622px;
    height: 620px;
  }
}

@media screen and (max-width: 320px) {
  .photo-wraper img {
    width: 260px;
    height: 260px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .photo-wraper {
    width: 622px;
    height: 620px;
  }
}

@media screen and (max-width: 320px) {
  .photo-wraper {
    width: 260px;
    height: 260px;
  }
}

.photo-wraper:after {
  content: ' ';
  display: block;
  width: 312px;
  height: 7px;
  background: #f86031;
  position: absolute;
  left: -1px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .photo-wraper:after {
    width: 622px;
  }
}

@media screen and (max-width: 320px) {
  .photo-wraper:after {
    width: 262px;
  }
}

.content-block-text {
  width: 312px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 50px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text {
    display: block;
    width: 622px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .content-block-text {
    display: block;
    width: 262px;
    margin: 0 auto;
  }
}

.content-block-text .text-title {
  font-family: 'Roboto light', sans-serif;
  font-size: 14px;
  line-height: 0px;
  font-weight: bold;
  color: black;
  text-align: left;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text .text-title {
    width: 622px;
    font-size: 30px;
  }
}

@media screen and (max-width: 320px) {
  .content-block-text .text-title {
    width: 262px;
    font-size: 12px;
  }
}

.content-block-text .content-block-text-paragraph {
  font-family: 'Roboto light', sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: normal;
  color: black;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text .content-block-text-paragraph {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .content-block-text .content-block-text-paragraph {
    font-size: 12px;
    line-height: 15px;
  }
}

.content-block-text .content-block-text-list {
  list-style-image: url("../img/list-marker.png");
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text .content-block-text-list {
    list-style-image: url("../img/list-marker-tablet.png");
    margin-bottom: 50px;
  }
}

.content-block-text .content-block-text-list li {
  font-family: 'Roboto light', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: black;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text .content-block-text-list li {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 320px) {
  .content-block-text .content-block-text-list li {
    font-size: 12px;
    line-height: 15px;
  }
}

.content-block-text-soc-btn {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 30px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text-soc-btn {
    margin-left: 90px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 320px) {
  .content-block-text-soc-btn {
    margin-bottom: 20px;
  }
}

.content-block-text-soc-btn li {
  display: inline-block;
}

.content-block-text-soc-btn li .soc-btn-1 {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-position: -5px -245px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-1.btn-sprite-fcb {
  background-position: -5px -5px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-1.btn-sprite-g {
  background-position: -5px -53px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-1.btn-sprite-odn {
  background-position: -5px -101px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-1.btn-sprite-rss {
  background-position: -5px -149px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-1.btn-sprite-tw {
  background-position: -5px -197px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-1.btn-sprite-vk {
  background-position: -5px -245px;
  width: 38px;
  height: 38px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text-soc-btn li .soc-btn-1 {
    background-image: url("../img/tablet.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -385px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-1.btn-sprite-tablet-fc-tablet {
    background-position: -5px -5px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-1.btn-sprite-tablet-g-tablet {
    background-position: -5px -81px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-1.btn-sprite-tablet-odn-tablet {
    background-position: -5px -157px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-1.btn-sprite-tablet-rss-tablet {
    background-position: -5px -233px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-1.btn-sprite-tablet-tw-tablet {
    background-position: -5px -309px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-1.btn-sprite-tablet-vk-tablet {
    background-position: -5px -385px;
    width: 66px;
    height: 66px;
  }
}

@media screen and (max-width: 320px) {
  .content-block-text-soc-btn li .soc-btn-1 {
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -195px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-1.sprite-phone-fc-phone {
    background-position: -5px -5px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-1.sprite-phone-g-phone {
    background-position: -5px -43px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-1.sprite-phone-odn-phone {
    background-position: -5px -81px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-1.sprite-phone-rss-phone {
    background-position: -5px -119px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-1.sprite-phone-tw-phone {
    background-position: -5px -157px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-1.sprite-phone-vk-phone {
    background-position: -5px -195px;
    width: 28px;
    height: 28px;
  }
}

.content-block-text-soc-btn li .soc-btn-2 {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-position: -5px -5px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-2.btn-sprite-fcb {
  background-position: -5px -5px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-2.btn-sprite-g {
  background-position: -5px -53px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-2.btn-sprite-odn {
  background-position: -5px -101px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-2.btn-sprite-rss {
  background-position: -5px -149px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-2.btn-sprite-tw {
  background-position: -5px -197px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-2.btn-sprite-vk {
  background-position: -5px -245px;
  width: 38px;
  height: 38px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text-soc-btn li .soc-btn-2 {
    background-image: url("../img/tablet.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -5px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-2.btn-sprite-tablet-fc-tablet {
    background-position: -5px -5px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-2.btn-sprite-tablet-g-tablet {
    background-position: -5px -81px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-2.btn-sprite-tablet-odn-tablet {
    background-position: -5px -157px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-2.btn-sprite-tablet-rss-tablet {
    background-position: -5px -233px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-2.btn-sprite-tablet-tw-tablet {
    background-position: -5px -309px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-2.btn-sprite-tablet-vk-tablet {
    background-position: -5px -385px;
    width: 66px;
    height: 66px;
  }
}

@media screen and (max-width: 320px) {
  .content-block-text-soc-btn li .soc-btn-2 {
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -5px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-2.sprite-phone-fc-phone {
    background-position: -5px -5px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-2.sprite-phone-g-phone {
    background-position: -5px -43px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-2.sprite-phone-odn-phone {
    background-position: -5px -81px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-2.sprite-phone-rss-phone {
    background-position: -5px -119px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-2.sprite-phone-tw-phone {
    background-position: -5px -157px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-2.sprite-phone-vk-phone {
    background-position: -5px -195px;
    width: 28px;
    height: 28px;
  }
}

.content-block-text-soc-btn li .soc-btn-3 {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-position: -5px -53px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-3.btn-sprite-fcb {
  background-position: -5px -5px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-3.btn-sprite-g {
  background-position: -5px -53px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-3.btn-sprite-odn {
  background-position: -5px -101px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-3.btn-sprite-rss {
  background-position: -5px -149px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-3.btn-sprite-tw {
  background-position: -5px -197px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-3.btn-sprite-vk {
  background-position: -5px -245px;
  width: 38px;
  height: 38px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text-soc-btn li .soc-btn-3 {
    background-image: url("../img/tablet.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -81px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-3.btn-sprite-tablet-fc-tablet {
    background-position: -5px -5px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-3.btn-sprite-tablet-g-tablet {
    background-position: -5px -81px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-3.btn-sprite-tablet-odn-tablet {
    background-position: -5px -157px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-3.btn-sprite-tablet-rss-tablet {
    background-position: -5px -233px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-3.btn-sprite-tablet-tw-tablet {
    background-position: -5px -309px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-3.btn-sprite-tablet-vk-tablet {
    background-position: -5px -385px;
    width: 66px;
    height: 66px;
  }
}

@media screen and (max-width: 320px) {
  .content-block-text-soc-btn li .soc-btn-3 {
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -43px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-3.sprite-phone-fc-phone {
    background-position: -5px -5px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-3.sprite-phone-g-phone {
    background-position: -5px -43px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-3.sprite-phone-odn-phone {
    background-position: -5px -81px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-3.sprite-phone-rss-phone {
    background-position: -5px -119px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-3.sprite-phone-tw-phone {
    background-position: -5px -157px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-3.sprite-phone-vk-phone {
    background-position: -5px -195px;
    width: 28px;
    height: 28px;
  }
}

.content-block-text-soc-btn li .soc-btn-4 {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-position: -5px -197px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-4.btn-sprite-fcb {
  background-position: -5px -5px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-4.btn-sprite-g {
  background-position: -5px -53px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-4.btn-sprite-odn {
  background-position: -5px -101px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-4.btn-sprite-rss {
  background-position: -5px -149px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-4.btn-sprite-tw {
  background-position: -5px -197px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-4.btn-sprite-vk {
  background-position: -5px -245px;
  width: 38px;
  height: 38px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text-soc-btn li .soc-btn-4 {
    background-image: url("../img/tablet.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -309px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-4.btn-sprite-tablet-fc-tablet {
    background-position: -5px -5px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-4.btn-sprite-tablet-g-tablet {
    background-position: -5px -81px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-4.btn-sprite-tablet-odn-tablet {
    background-position: -5px -157px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-4.btn-sprite-tablet-rss-tablet {
    background-position: -5px -233px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-4.btn-sprite-tablet-tw-tablet {
    background-position: -5px -309px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-4.btn-sprite-tablet-vk-tablet {
    background-position: -5px -385px;
    width: 66px;
    height: 66px;
  }
}

@media screen and (max-width: 320px) {
  .content-block-text-soc-btn li .soc-btn-4 {
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -157px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-4.sprite-phone-fc-phone {
    background-position: -5px -5px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-4.sprite-phone-g-phone {
    background-position: -5px -43px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-4.sprite-phone-odn-phone {
    background-position: -5px -81px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-4.sprite-phone-rss-phone {
    background-position: -5px -119px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-4.sprite-phone-tw-phone {
    background-position: -5px -157px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-4.sprite-phone-vk-phone {
    background-position: -5px -195px;
    width: 28px;
    height: 28px;
  }
}

.content-block-text-soc-btn li .soc-btn-5 {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-position: -5px -149px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-5.btn-sprite-fcb {
  background-position: -5px -5px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-5.btn-sprite-g {
  background-position: -5px -53px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-5.btn-sprite-odn {
  background-position: -5px -101px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-5.btn-sprite-rss {
  background-position: -5px -149px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-5.btn-sprite-tw {
  background-position: -5px -197px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-5.btn-sprite-vk {
  background-position: -5px -245px;
  width: 38px;
  height: 38px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text-soc-btn li .soc-btn-5 {
    background-image: url("../img/tablet.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -233px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-5.btn-sprite-tablet-fc-tablet {
    background-position: -5px -5px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-5.btn-sprite-tablet-g-tablet {
    background-position: -5px -81px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-5.btn-sprite-tablet-odn-tablet {
    background-position: -5px -157px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-5.btn-sprite-tablet-rss-tablet {
    background-position: -5px -233px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-5.btn-sprite-tablet-tw-tablet {
    background-position: -5px -309px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-5.btn-sprite-tablet-vk-tablet {
    background-position: -5px -385px;
    width: 66px;
    height: 66px;
  }
}

@media screen and (max-width: 320px) {
  .content-block-text-soc-btn li .soc-btn-5 {
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -119px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-5.sprite-phone-fc-phone {
    background-position: -5px -5px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-5.sprite-phone-g-phone {
    background-position: -5px -43px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-5.sprite-phone-odn-phone {
    background-position: -5px -81px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-5.sprite-phone-rss-phone {
    background-position: -5px -119px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-5.sprite-phone-tw-phone {
    background-position: -5px -157px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-5.sprite-phone-vk-phone {
    background-position: -5px -195px;
    width: 28px;
    height: 28px;
  }
}

.content-block-text-soc-btn li .soc-btn-6 {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-position: -5px -101px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-6.btn-sprite-fcb {
  background-position: -5px -5px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-6.btn-sprite-g {
  background-position: -5px -53px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-6.btn-sprite-odn {
  background-position: -5px -101px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-6.btn-sprite-rss {
  background-position: -5px -149px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-6.btn-sprite-tw {
  background-position: -5px -197px;
  width: 38px;
  height: 38px;
}

.content-block-text-soc-btn li .soc-btn-6.btn-sprite-vk {
  background-position: -5px -245px;
  width: 38px;
  height: 38px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .content-block-text-soc-btn li .soc-btn-6 {
    background-image: url("../img/tablet.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -157px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-6.btn-sprite-tablet-fc-tablet {
    background-position: -5px -5px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-6.btn-sprite-tablet-g-tablet {
    background-position: -5px -81px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-6.btn-sprite-tablet-odn-tablet {
    background-position: -5px -157px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-6.btn-sprite-tablet-rss-tablet {
    background-position: -5px -233px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-6.btn-sprite-tablet-tw-tablet {
    background-position: -5px -309px;
    width: 66px;
    height: 66px;
  }

  .content-block-text-soc-btn li .soc-btn-6.btn-sprite-tablet-vk-tablet {
    background-position: -5px -385px;
    width: 66px;
    height: 66px;
  }
}

@media screen and (max-width: 320px) {
  .content-block-text-soc-btn li .soc-btn-6 {
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    display: block;
    background-position: -5px -81px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-6.sprite-phone-fc-phone {
    background-position: -5px -5px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-6.sprite-phone-g-phone {
    background-position: -5px -43px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-6.sprite-phone-odn-phone {
    background-position: -5px -81px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-6.sprite-phone-rss-phone {
    background-position: -5px -119px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-6.sprite-phone-tw-phone {
    background-position: -5px -157px;
    width: 28px;
    height: 28px;
  }

  .content-block-text-soc-btn li .soc-btn-6.sprite-phone-vk-phone {
    background-position: -5px -195px;
    width: 28px;
    height: 28px;
  }
}

.main-form {
  width: 312px;
  height: 310px;
  display: inline-block;
  vertical-align: top;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .main-form {
    display: block;
    width: 622px;
    height: 630px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 320px) {
  .main-form {
    display: block;
    width: 260px;
    height: 265px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}

.main-form-form {
  width: 312px;
  height: 310px;
  background: #f86031;
  border-radius: 5px;
  padding-top: 15px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .main-form-form {
    width: 622px;
    height: 625px;
    padding-top: 45px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 320px) {
  .main-form-form {
    width: 260px;
    height: 265px;
    padding-top: 15px;
    margin-bottom: 35px;
  }
}

.main-form-form .main-form-title {
  font-family: 'Exo 2', sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: bold;
  color: white;
  margin-top: 0;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .main-form-form .main-form-title {
    font-size: 47px;
  }
}

@media screen and (max-width: 320px) {
  .main-form-form .main-form-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.main-form-form .form-content-wraper {
  width: 250px;
  margin: 0 auto;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .main-form-form .form-content-wraper {
    width: 510px;
  }
}

@media screen and (max-width: 320px) {
  .main-form-form .form-content-wraper {
    width: 210px;
    margin-left: 28px;
  }
}

.main-form-form .form-content-wraper input,
.main-form-form .form-content-wraper .input-list1,
.main-form-form .form-content-wraper .input-list2 {
  width: 250px;
  height: 33px;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: 1px solid transparent;
  border: 1px solid transparent;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: black;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .main-form-form .form-content-wraper input,
  .main-form-form .form-content-wraper .input-list1,
  .main-form-form .form-content-wraper .input-list2 {
    width: 505px;
    height: 66px;
    font-size: 29px;
    line-height: 40px;
    padding-left: 15px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .main-form-form .form-content-wraper input,
  .main-form-form .form-content-wraper .input-list1,
  .main-form-form .form-content-wraper .input-list2 {
    width: 205px;
    height: 26px;
    font-size: 11px;
    line-height: 25px;
    padding-left: 10px;
    margin-bottom: 10px;
  }
}

.main-form-form .form-content-wraper input[type="text"]::-webkit-input-placeholder {
  color: #c9c0be;
  font-style: italic;
}

.main-form-form .form-content-wraper input[type="text"]::-moz-placeholder {
  color: #c9c0be;
  font-style: italic;
}

.main-form-form .form-content-wraper input[type="text"]:-ms-input-placeholder {
  color: #c9c0be;
  font-style: italic;
}

.main-form-form .form-content-wraper input[type="text"]::placeholder {
  color: #c9c0be;
  font-style: italic;
}

.form-content-wraper > .select-box-1 > .input-list1,
.form-content-wraper > .select-box-2 > .input-list2 {
  position: absolute;
  background: transparent;
  color: #f86031;
}

.select-box-1,
.select-box-2 {
  width: 250px;
  height: 33px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.select-box-1:before,
.select-box-2:before {
  content: '';
  display: block;
  background: white;
  width: 500px;
  height: 5px;
  position: absolute;
  z-index: 1;
}

.select-box-1:after,
.select-box-2:after {
  content: '';
  display: block;
  background: white;
  width: 500px;
  height: 5px;
  position: absolute;
  z-index: 1;
  top: 30px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .select-box-1:after,
  .select-box-2:after {
    top: 60px;
  }
}

@media screen and (max-width: 320px) {
  .select-box-1:after,
  .select-box-2:after {
    background: white;
    top: 22px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .select-box-1,
  .select-box-2 {
    width: 505px;
    height: 66px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .select-box-1,
  .select-box-2 {
    width: 205px;
    height: 26px;
    margin-bottom: 10px;
  }
}

.select-box-1 .arrow1,
.select-box-2 .arrow1,
.select-box-1 .arrow2,
.select-box-2 .arrow2 {
  display: block;
  position: absolute;
  width: 30px;
  height: 35px;
  background: white url("../img/select-arrow.jpg") no-repeat left;
  left: 225px;
  top: 0px;
  z-index: 2;
}

.select-box-1 .arrow1:before,
.select-box-2 .arrow1:before,
.select-box-1 .arrow2:before,
.select-box-2 .arrow2:before {
  content: '';
  display: block;
  background: white;
  width: 5px;
  height: 30px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: -225px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .select-box-1 .arrow1:before,
  .select-box-2 .arrow1:before,
  .select-box-1 .arrow2:before,
  .select-box-2 .arrow2:before {
    background: white;
    height: 60px;
    top: 0px;
    left: -460px;
  }
}

@media screen and (max-width: 320px) {
  .select-box-1 .arrow1:before,
  .select-box-2 .arrow1:before,
  .select-box-1 .arrow2:before,
  .select-box-2 .arrow2:before {
    background: white;
    top: 0px;
    left: -180px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .select-box-1 .arrow1,
  .select-box-2 .arrow1,
  .select-box-1 .arrow2,
  .select-box-2 .arrow2 {
    width: 45px;
    height: 70px;
    background: white url("../img/select-arrow-tablet.jpg") no-repeat left;
    left: 460px;
    top: 0px;
  }
}

@media screen and (max-width: 320px) {
  .select-box-1 .arrow1,
  .select-box-2 .arrow1,
  .select-box-1 .arrow2,
  .select-box-2 .arrow2 {
    left: 180px;
    top: -5px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .select-box-2 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 320px) {
  .select-box-2 {
    margin-bottom: 10px;
  }
}

input[type="checkbox"] {
  display: none;
}

.check {
  width: 100px;
  height: 100px;
  font-family: 'Roboto light', sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  color: white;
  position: relative;
  bottom: 6px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .check {
    font-size: 28px;
  }
}

@media screen and (max-width: 320px) {
  .check {
    font-size: 11px;
  }
}

.check .checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid white;
  background: #f86031;
  position: relative;
  padding: 0;
  display: inline-block;
  margin-right: 20px;
  top: 2px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .check .checkbox {
    width: 24px;
    height: 25px;
  }
}

@media screen and (max-width: 320px) {
  .check .checkbox {
    width: 12px;
    height: 12px;
    border: 1px solid white;
  }
}

.check .checkbox .inner-checkbox {
  content: ' ';
  display: block;
  height: 8px;
  width: 8px;
  background: white;
  position: absolute;
  left: 2px;
  top: 2px;
  display: none;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .check .checkbox .inner-checkbox {
    width: 14px;
    height: 14px;
    left: 3px;
    top: 3px;
  }
}

@media screen and (max-width: 320px) {
  .check .checkbox .inner-checkbox {
    width: 6px;
    height: 6px;
    left: 2px;
    top: 2px;
  }
}

.btn-form {
  width: 250px;
  height: 60px;
  background: #ffa20d;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 'Exo 2', sans-serif;
  font-size: 21px;
  line-height: 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  position: relative;
  background: #ffa20d url("../img/btn-icon.png") no-repeat;
  background-position: 20% 40%;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .btn-form {
    width: 488px;
    height: 117px;
    font-size: 42px;
    background: #ffa20d url("../img/btn-icon-tablet.png") no-repeat;
    background-position-x: 20%;
    background-position-y: center;
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .btn-form {
    width: 205px;
    height: 50px;
    background-position: 20% 40%;
  }
}

.btn-form:hover {
  background: white;
  color: #ffa20d;
  background: white url("../img/btn-icon-hover.png") no-repeat;
  background-position: 20% 40%;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .btn-form:hover {
    background: white;
  }
}

@media screen and (max-width: 320px) {
  .btn-form:hover {
    background-position-x: 15%;
    background-position-y: center;
  }
}


.popup {
  width: 340px;
  height: 190px;
  padding: 15px;
  padding-top: 20px;
  position: absolute;
  top: 25%;
  left: 36%;
  background: white;
  z-index: 6;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .popup {
    width: 768px;
    height: 430px;
    left: 0;
    padding: 40px;
    padding-top: 80px;
  }
}

@media screen and (max-width: 320px) {
  .popup {
    width: 320px;
    height: 390px;
    left: 0;
    padding: 20px;
    padding-top: 50px;
  }
}

.popup .popup-title {
  margin: 0;
  padding: 0;
  font-family: 'Roboto light', sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  color: black;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .popup .popup-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 320px) {
  .popup .popup-title {
    font-size: 21px;
  }
}

.popup .popup-text {
  font-family: 'Roboto light', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: black;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .popup .popup-text {
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .popup .popup-text {
    font-size: 21px;
    line-height: 23px;
  }
}

.popup .popup-close {
  width: 22px;
  height: 22px;
  background: url("../img/close-popup.png") no-repeat;
  position: absolute;
  top: 15px;
  left: 300px;
  cursor: pointer;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .popup .popup-close {
    background: url("../img/close-popup-tablet.png") no-repeat;
    width: 50px;
    height: 50px;
    top: 35px;
    left: 700px;
  }
}

@media screen and (max-width: 320px) {
  .popup .popup-close {
    background: url("../img/close-popup-phone.png") no-repeat;
    width: 50px;
    height: 50px;
    left: 285px;
  }
}

.popup-background {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 6;
}

.popup-wrap {
  display: none;
  /*@media screen and (min-width: 321px) and (max-width: 768px) {
         height: 100%;
            }*/
}

/*.pop{
	background: black;
	width: 100%;
	min-height: 100%;
}*/
/*текст в хеадере*/

.btn-sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}

.btn-sprite.btn-sprite-fcb {
  background-position: -5px -5px;
  width: 38px;
  height: 38px;
}

.btn-sprite.btn-sprite-g {
  background-position: -5px -53px;
  width: 38px;
  height: 38px;
}

.btn-sprite.btn-sprite-odn {
  background-position: -5px -101px;
  width: 38px;
  height: 38px;
}

.btn-sprite.btn-sprite-rss {
  background-position: -5px -149px;
  width: 38px;
  height: 38px;
}

.btn-sprite.btn-sprite-tw {
  background-position: -5px -197px;
  width: 38px;
  height: 38px;
}

.btn-sprite.btn-sprite-vk {
  background-position: -5px -245px;
  width: 38px;
  height: 38px;
}

.btn-sprite-tablet {
  background-image: url("../img/tablet.png");
  background-repeat: no-repeat;
  display: block;
}

.btn-sprite-tablet.btn-sprite-tablet-fc-tablet {
  background-position: -5px -5px;
  width: 66px;
  height: 66px;
}

.btn-sprite-tablet.btn-sprite-tablet-g-tablet {
  background-position: -5px -81px;
  width: 66px;
  height: 66px;
}

.btn-sprite-tablet.btn-sprite-tablet-odn-tablet {
  background-position: -5px -157px;
  width: 66px;
  height: 66px;
}

.btn-sprite-tablet.btn-sprite-tablet-rss-tablet {
  background-position: -5px -233px;
  width: 66px;
  height: 66px;
}

.btn-sprite-tablet.btn-sprite-tablet-tw-tablet {
  background-position: -5px -309px;
  width: 66px;
  height: 66px;
}

.btn-sprite-tablet.btn-sprite-tablet-vk-tablet {
  background-position: -5px -385px;
  width: 66px;
  height: 66px;
}

.sprite-phone {
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-phone.sprite-phone-fc-phone {
  background-position: -5px -5px;
  width: 28px;
  height: 28px;
}

.sprite-phone.sprite-phone-g-phone {
  background-position: -5px -43px;
  width: 28px;
  height: 28px;
}

.sprite-phone.sprite-phone-odn-phone {
  background-position: -5px -81px;
  width: 28px;
  height: 28px;
}

.sprite-phone.sprite-phone-rss-phone {
  background-position: -5px -119px;
  width: 28px;
  height: 28px;
}

.sprite-phone.sprite-phone-tw-phone {
  background-position: -5px -157px;
  width: 28px;
  height: 28px;
}

.sprite-phone.sprite-phone-vk-phone {
  background-position: -5px -195px;
  width: 28px;
  height: 28px;
}